@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Rajdhani:wght@300;400;500;600;700&family=Rammetto+One&display=swap');

:root{
    --remm: "Rammetto One";
    --nunito: "Nunito Sans";
    --rajd: "Rajdhani";
    --gray-100: #0F0F1A;
    --gray-200: #131320;
    --gray-300: #1A1B2D;
    --gray-400: 69, 69, 95,0.1;
    --gray-500: #7A7B9F;
    --gray-600: #B5B6C9;
    --gray-700: #E4E5EC;
    --gray-800: #E5E2E9;
    --purple-base: #892CCD;
    --purple-light: #A85FDD;
    --error-base: #D04048;
    --error-light: #F77980;

}
